[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-container-scaffold = {path = ".",extras = ["devbase","test","docs","dist"],editable = true}

[packages]
flask-container-scaffold = {path = ".",editable = true}

